:root {
    --appbar-item-background-hover: #617d89;
    --appbar-item-color-hover: #ffffff;
    --d-menu-item-background-hover: #617d89;
    --d-menu-item-color-hover: #ffffff;
    --third-color: #617d89;
}
