<div class="scrollable-container">
    <table class="table striped compact mb-10">
        <tbody>
        <tr>
            <td>Назва</td>
            <td><strong>ОСББ “Три сусіди 1”</strong></td>
        </tr>
        <tr>
            <td>ЄДРПОУ</td>
            <td><strong>42337908</strong></td>
        </tr>
        <tr>
            <td>Рахунок</td>
            <td><strong>UA383052990000026007046712057</strong></td>
        </tr>
        <tr>
            <td>Банк</td>
            <td><strong>АТ КБ “Приватбанк”</strong></td>
        </tr>
        <tr>
            <td>Призначення</td>
            <td><strong>Добровільний внесок на придбання альтернативних джерел живлення
                (ОР-ХХХХ)</strong></td>
        </tr>
        <tr>
            <td colspan="2" class="reduce-2">*) Замість ОР-ХХХХ вкажіть свій особовий рахунок </td>
        </tr>
        </tbody>
    </table>
</div>
