---
import Page from "../layouts/Page.astro"
import Rss from "../components/RssChanels.astro";
---
<Page title="Заборгованність за комунальні послуги по ОСББ 'Три сусіди 1'">
    <div class="container-fluid mb-10 pt-6">
        <div class="container">
            <div class="row" style="--grid-gutter: 80px">
                <div class="cell-xl-7">
                    <div class="h4 mb-6">Заборгованість за комунальні послуги по ОСББ "Три сусіди 1"</div>

                    <div data-role="accordion" data-one-frame="false">
                        <div class="frame">
                            <h6 class="heading d-flex">Г. Ахматової, буд. 33-1 <span class="ml-auto text-bold fg-red" id="total-ah33_1"></span></h6>
                            <div class="content">
                                <table class="table compact striped border cell-border pays-table" id="ah33_1">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="frame">
                            <h6 class="heading d-flex">Г. Ахматової, буд. 33-2 <span class="ml-auto text-bold fg-red" id="total-ah33_2"></span></h6>
                            <div class="content">
                                <table class="table compact striped border cell-border pays-table" id="ah33_2">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="frame">
                            <h6 class="heading d-flex">Г. Ахматової, буд. 31-1 <span class="ml-auto text-bold fg-red" id="total-ah31_1"></span></h6>
                            <div class="content">
                                <table class="table compact striped border cell-border pays-table" id="ah31_1">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="frame">
                            <h6 class="heading d-flex">Г. Ахматової, буд. 31-2 <span class="ml-auto text-bold fg-red" id="total-ah31_2"></span></h6>
                            <div class="content">
                                <table class="table compact striped border cell-border pays-table" id="ah31_2">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="frame">
                            <h6 class="heading d-flex">Г. Ахматової, буд. 31-3 <span class="ml-auto text-bold fg-red" id="total-ah31_3"></span></h6>
                            <div class="content">
                                <table class="table compact striped border cell-border pays-table" id="ah31_3">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="frame">
                            <h6 class="heading d-flex">Г. Ахматової, буд. 31-4 <span class="ml-auto text-bold fg-red" id="total-ah31_4"></span></h6>
                            <div class="content">
                                <table class="table compact striped border cell-border pays-table" id="ah31_4">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="frame">
                            <h6 class="heading d-flex">П. Григоренка, буд. 24-1 <span class="ml-auto text-bold fg-red" id="total-gr24_1"></span></h6>
                            <div class="content">
                                <table class="table compact striped border cell-border pays-table" id="gr24_1">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="frame">
                            <h6 class="heading d-flex">П. Григоренка, буд. 24-2 <span class="ml-auto text-bold fg-red" id="total-gr24_2"></span></h6>
                            <div class="content">
                                <table class="table compact striped border cell-border pays-table" id="gr24_2">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cell-xl-5">
                    <h3 class="text-light">Загальний борг станом на <span class="text-bold" id="curr-date"></span></h3>
                    <div class="fg-red" id="general-debt" style="font-size: 74px">0</div>

                    <hr/>

                    <div class="sidebar-group">
                        <div class="text-bold">Кількість квартир, які мають заборгованість вище 10к</div>
                        <div class="row">
                            <div class="cell-xl-2">
                                <div id="top-debtor-count" class="display2 text-center">0</div>
                            </div>
                            <div class="cell-xl-1 d-flex flex-align-center" style="line-height: 1"><span> сума боргу</span></div>
                            <div class="cell-xl-9">
                                <div id="top-debtor-sum" class="display2 text-center">0</div>
                            </div>
                        </div>
                    </div>

                    <hr/>

                    <div class="sidebar-group mt-10">
                        <Rss/>
                    </div>

                </div>
            </div>
        </div>
    </div>
</Page>
<script>
    import {num_fmt} from "../js/format.js";

    const debt = {
        ah31_1: {2: 3148, 6: 6119, 14:6672, 24: 5220, 40: 17048, 48: 23366, 58: 3497, 62: 1952, 64: 11088},
        ah31_2: {65: 20370, 66: 1361, 69: 2952, 73: 6631, 88: 2311, 90:1550, 92:1345, 97:16360, 108: 2276, 116: 2228, 129: 2789},
        ah31_3: {144:2977, 156: 7675, 179: 3417, 194: 1906},
        ah31_4: {201: 28065, 203: 1342, 206: 18740, 208: 21631, 210: 9216, 212: 24645, 217: 10391, 220: 19235, 221: 1903, 227: 7514, 230: 3214, 234: 3162, 237: 7679, 240: 9622, 242: 6199, 244: 17747, 249: 23060, 257: 13089, 261: 5025},

        ah33_1: {2: 8810, 3: 11165, 7: 1937, 16: 2963, 31: 6430, 43: 3183, 51: 948, 54: 1309, 60: 16075},
        ah33_2: {62: 12830, 67: 3079, 76: 20769, 87: 3077, 91: 1313, 94: 1251, 106: 21417, 109: 24022, 114: 4170, 115: 3881},

        gr24_1: {4: 9044, 12: 3725, 14: 2664, 18: 3000, 48: 2328, 50: 1809, 51: 1256, 57: 1876, 59: 4953},
        gr24_2: {62: 952, 64: 6555, 69:23467, 72:17030, 76:1494, 78: 2259, 85: 30008, 92: 6871, 99: 11492},
    }

    let curr = ''
    let all = 0
    let topDebtor = 0
    let topDebtorSum = 0

    for (const addr in debt) {
        if (curr !== addr) {
            curr = addr
        }
        const table = $(`#${addr} tbody`)
        let total = 0
        for (const d in debt[addr]) {
            const sum = debt[addr][d]

            total += sum

            const tr = $("<tr>").appendTo(table)
            tr.append( $("<td>").css("width", 130).text(d) )
            tr.append( $("<td>").addClass('text-right').addClass((sum > 10000 ? 'fg-red text-bold' : '')).html(`${num_fmt(sum, " ")} <span class="reduce-2">грн</span>`) )

            if (sum > 10000) {
                topDebtor++
                topDebtorSum += sum
            }
        }
        $(`#total-${addr}`).html(`${num_fmt(total, " ")} <span class="reduce-6">грн</span> `)
        all += total

        const tr = $("<tr>").appendTo(table)
        tr.append($("<td>").addClass('text-right').attr("colspan", 2).html(`Загальний борг: <span class="ml-2 text-leader2">${num_fmt(total, " ")}</span> грн`))
    }

    $("#general-debt").html(`${num_fmt(all, " ")} <span class="reduce-6">грн</span>`)
    $("#curr-date").html(datetime().format("DD/MM/YYYY"))
    $("#top-debtor-count").html(topDebtor)
    $("#top-debtor-sum").html(`${num_fmt(topDebtorSum, " ")} <span class="reduce-6">грн</span>`)
</script>
