---
import Layout from "../layouts/Page.astro"
---
<Layout title="Кошторис на 2024-2025 - ОСББ Три сусіди 1">
    <div class="container-fluid mb-10 pt-6">
        <div class="container">
            <h3>Кошторис (проект) на 2024-2025 рр.</h3>

            <div class="scrollable-container">
            <table class="table mt-10">
                <tbody>
                <tr>
                    <td>Загальна площа житлових приміщень будинку</td>
                    <td class="text-right">40.505,22 м2</td>
                </tr>
                <tr>
                    <td>Загальна площа нежитлових приміщень будинку	</td>
                    <td class="text-right">2 105,90 м2</td>
                </tr>
                <tr>
                    <td class="text-right">Разом</td>
                    <td class="text-right bg-light"><span class="text-bold">42 611,12 м2</span></td>
                </tr>
                </tbody>
            </table>
            </div>

            <div class="scrollable-container">
            <table class="table mt-10">
                <tbody>
                <tr>
                    <td>Розмір внеску</td>
                    <td class="text-right">9,23 грн</td>
                </tr>
                <tr>
                    <td>Розмір внеску до резервного фонду</td>
                    <td class="text-right">0,70 грн</td>
                </tr>
                <tr>
                    <td>Розмір внеску до ремонтного фонду</td>
                    <td class="text-right">1,44 грн</td>
                </tr>
                <tr>
                    <td class="text-right">Загалом</td>
                    <td class="text-right op-lightGreen"><span class="text-bold">11,37 грн</span></td>
                </tr>
                </tbody>
            </table>
            </div>

            <h5 class="mt-10">Надходження</h5>
            <div class="scrollable-container">
            <table class="table">
                <thead>
                <tr>
                    <th style="width: 50px;">№</th>
                    <th>Стаття</th>
                    <th style="width: 150px;">грн/міс</th>
                    <th style="width: 150px;">грн/рік</th>
                    <th style="width: 55px;"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Внески співвласників на утримання будинком та прибудинкової території за 2024 рік</td>
                    <td class="text-right">484 340,66</td>
                    <td class="text-right">5 812 087,88</td>
                </tr>
                </tbody>
            </table>
            </div>

            <h5 class="mt-10">Витрати</h5>
            <div class="scrollable-container">
            <table class="table">
                <thead>
                <tr>
                    <th style="width: 50px;">№</th>
                    <th>Стаття</th>
                    <th style="width: 150px;">грн/міс</th>
                    <th style="width: 150px;">грн/рік</th>
                    <th style="width: 55px;">вн</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Витрати на експлуатацію будинку та прибудинкової території</td>
                    <td class="text-right">230 600,00</td>
                    <td class="text-right">2 767 200,00</td>
                    <td style="width: 55px;" class="text-right">5,41</td>
                </tr>
                <tr>
                    <td>1.1</td>
                    <td class="text-light pl-10 reduce-1">Вивезення твердих побутових відходів (ТВП)</td>
                    <td class="text-right">30 000,00</td>
                    <td class="text-right">360 000,00</td>
                    <td class="text-right">0,70</td>
                </tr>
                <tr>
                    <td>1.2</td>
                    <td class="text-light pl-10 reduce-1">Освітлення місць загального користування та технічних приміщень</td>
                    <td class="text-right">123 600,00</td>
                    <td class="text-right">1 483 200,00</td>
                    <td class="text-right">2,90</td>
                </tr>
                <tr>
                    <td>1.3</td>
                    <td class="text-light pl-10 reduce-1">Прибирання прибудинкової території - персонал 3 людини</td>
                    <td class="text-right">39 000,00</td>
                    <td class="text-right">468 000,00</td>
                    <td class="text-right">0,92</td>
                </tr>
                <tr>
                    <td>1.4</td>
                    <td class="text-light pl-10 reduce-1">Прибирання будинку (сходові майданчики та МЗК біля ліфтів)</td>
                    <td class="text-right">19 000,00</td>
                    <td class="text-right">228 000,00</td>
                    <td class="text-right">0,45</td>
                </tr>
                <tr>
                    <td>1.5</td>
                    <td class="text-light pl-10 reduce-1">Допоміжні послуги у загальних приміщеннях ОСББ - підсобні роботи</td>
                    <td class="text-right">15 000,00</td>
                    <td class="text-right">180 000,00</td>
                    <td class="text-right">0,35</td>
                </tr>
                <tr>
                    <td>1.6</td>
                    <td class="text-light pl-10 reduce-1">Витратні матеріали (для прибирання, поточного ремонту, тощо)</td>
                    <td class="text-right">4 000,00</td>
                    <td class="text-right">48 000,00</td>
                    <td class="text-right">0,09</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Технічне обслуговування внутрішньобудинкових систем ГВП, ХВП, водовідведення, теплопостачання, зливової каналізації, електромереж ( абонплата)</td>
                    <td class="text-right">28 850,00</td>
                    <td class="text-right">346 200,00</td>
                    <td class="text-right">0,68</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Диспетчеризація та обслуговування термінових викликів аварійних служб</td>
                    <td class="text-right">8 000,00</td>
                    <td class="text-right">96 000,00</td>
                    <td class="text-right">0,19</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Технічне обслуговування та ремонт систем протипожежної сигналізації</td>
                    <td class="text-right">5 000,00</td>
                    <td class="text-right">60 000,00</td>
                    <td class="text-right">0,12</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Технічне обслуговування ліфтів</td>
                    <td class="text-right">28 430,00</td>
                    <td class="text-right">341 160,00</td>
                    <td class="text-right">0,67</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Витратні матеріали(для освітлення МЗК (лампи) матеріали для водовідведення, теплопостачання, зливової каналізації, електромереж)</td>
                    <td class="text-right">8 000,00</td>
                    <td class="text-right">96 000,00</td>
                    <td class="text-right">0,19</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Дератизація та дезінсекція</td>
                    <td class="text-right">906,67</td>
                    <td class="text-right">10 880,04</td>
                    <td class="text-right">0,02</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Витрати на водопостачання та водовідведення для поливання дворів, клумб, газонів, для технічних потреб та прибирання будинку та прибудинкової території та гаряча вода у консьєржів</td>
                    <td class="text-right">1 996,19</td>
                    <td class="text-right">23 954,28</td>
                    <td class="text-right">0,05</td>
                </tr>
                </tbody>
            </table>
            </div>

            <h5 class="mt-10">Фонд оплати праці</h5>
            <div class="scrollable-container">
            <table class="table">
                <tbody>
                <tr>
                    <td style="width: 50px;">9</td>
                    <td>Голова правління (разом з податками та зборами)</td>
                    <td style="width: 150px;" class="text-right">43 500,00</td>
                    <td style="width: 150px;" class="text-right">522 000,00</td>
                    <td style="width: 55px;" class="text-right">1,02</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Нарахування на фонд оплати праці 22%</td>
                    <td class="text-right">9 570,00</td>
                    <td class="text-right">114 840,00</td>
                    <td class="text-right">0,22</td>
                </tr>
                </tbody>
            </table>
            </div>

            <h5 class="mt-10">Адміністративні витрати</h5>
            <div class="scrollable-container">
            <table class="table">
                <tbody>
                <tr>
                    <td style="width: 50px;">11</td>
                    <td>Бухгалтер (аутсорсінг)</td>
                    <td style="width: 150px;" class="text-right">19 500,00</td>
                    <td style="width: 150px;" class="text-right">234 000,00</td>
                    <td style="width: 55px;" class="text-right">0,46</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Розрахунково касове обслуговування</td>
                    <td class="text-right">800,00</td>
                    <td class="text-right">9 600,00</td>
                    <td class="text-right">0,02</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Матеріально-технічне забезпечення дільності ОСББ (придбання принтера,обслуговування компьютерної та оргтехніки, зв'язок, інтернет,інформаційні та поштові витрати, мита та збори, програмне забезпечення комп'ютерної техніки, канцелярські товари, тощо)</td>
                    <td class="text-right">4 000,00</td>
                    <td class="text-right">48 000,00</td>
                    <td class="text-right">0,09</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Юридичні послуги</td>
                    <td class="text-right">4 000,00</td>
                    <td class="text-right">48 000,00</td>
                    <td class="text-right">0,09</td>
                </tr>
                </tbody>
            </table>
            </div>

            <div class="scrollable-container">
            <table class="table">
                <tbody class="text-bold">
                <tr>
                    <td style="width: 50px;"></td>
                    <td>Разом витрат</td>
                    <td style="width: 150px;">393 152,86</td>
                    <td style="width: 150px;">4 717 834,32</td>
                    <td style="width: 55px;">9,23</td>
                </tr>
                </tbody>
            </table>
            </div>

            <h5 class="mt-10">Фонди</h5>
            <div class="scrollable-container">
            <table class="table">
                <tbody>
                <tr>
                    <td style="width: 50px;">15</td>
                    <td>Резервний фонд</td>
                    <td style="width: 150px;" class="text-right">29 827,78</td>
                    <td style="width: 150px;" class="text-right">357 933,41</td>
                    <td style="width: 55px;" class="text-right">0,70</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Ремонтний фонд</td>
                    <td class="text-right">61 360,01</td>
                    <td class="text-right">736 320,15</td>
                    <td class="text-right">1,44</td>
                </tr>
                </tbody>
            </table>
            </div>

            <div class="scrollable-container">
            <table class="table">
                <tbody class="text-bold">
                <tr>
                    <td style="width: 50px;"></td>
                    <td>Разом внесків до фондів</td>
                    <td style="width: 150px;">91 187,80</td>
                    <td style="width: 150px;">1 094 253,56</td>
                    <td style="width: 55px;"></td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</Layout>