---
import Page from "../layouts/Page.astro"
import {Image} from "astro:assets"
import DiscordLogo from "../../assets/discord-logo.svg"
import Rss from "../components/RssChanels.astro"
---
<Page title="Правила та норми поведінки в загальному чаті ОСББ 'Три сусіди 1'">
    <div class="container-fluid mb-10">
        <div class="container">
            <div class="row" style="--grid-gutter: 80px">
                <div class="cell-md-6">
                    <Image src={DiscordLogo} alt=""/>
                    <div class="mt-10">
                        <a class="button m-1" href="https://discord.com/download" style="background-color: #5965f1; color: #ffffff;">Завантажити додаток</a>
                        <a class="button m-1 outline bd-dark" href="https://discord.gg/ZHsw2JgA">Почати спілкування</a>

                    </div>
                </div>
                <div class="cell-md-1"></div>
                <div class="cell-md-5 reduce-1">
                    <b>Discord</b> - це платформа обміну миттєвими повідомленнями та цифрового розповсюдження інформації з функціями VoIP.
                    Користувачі спілкуються за допомогою голосових дзвінків, відеочатів, текстових повідомлень, медіа та файлів у приватних чатах або в рамках спільнот, які називаються «серверами».
                </div>
            </div>
            <hr class="mt-10 mb-10 thin"/>

            <div class="row">
                <div class="cell-xl-4">
                    <div class="present-card op-green bd-green">
                        <h4 class="bd-green">Текстовий чат</h4>
                        <div>
                            Ви можете спілкуваться як в загальному чаті, або вирішувати проблеми в локальних чатах за окремими адресами.
                        </div>
                    </div>
                </div>
                <div class="cell-xl-4">
                    <div class="present-card op-cyan bd-cyan">
                        <h4 class="bd-cyan">Голосовий чат</h4>
                        <div>
                            Проводьте наради правління, ведіть прийом громадян, проводьте загальні обговорення будь яких проблем!
                        </div>
                    </div>
                </div>
                <div class="cell-xl-4">
                    <div class="present-card op-violet bd-violet">
                        <h4 class="bd-violet">Відео чат</h4>
                        <div>
                            Презентації будь чого з демонстрацією відео! Спілкуйтесь один з одним або групою!
                        </div>
                    </div>
                </div>
            </div>

            <hr class="mt-10 mb-10 thin"/>
            <div class="row" style="--grid-gutter: 80px">
                <div class="cell-xl-8">
                    <div class="reduce-2 info pt-1 pb-1 pl-2 pr-2 border-radius-10 place-right">ПРОЕКТ</div>
                    <h1 class="mt-0">Правила та норми спілкування</h1>
                    <div>
                        <p>Ці правила розроблено для комфортного спілкування в загальному чаті ОСББ "Три сусіди 1". Виконання цих правив обов'язкове для всіх учасників.</p>
                        <div class="remark alert">
                            <span class="mif-report icon"></span>
                            <div>
                                Порушення правил веде до тимчасової або постійної заборони на написання дописів в чаті.
                            </div>
                        </div>

                        <h4>Основні правила:</h4>
                        <ol class="decimal">
                            <li>Ніколи не давайте оцінку поведінці інших людей та не вішайте ярликів.</li>
                            <li>Не вживайте образливі фрази та узагальнення щодо всіх учасників спільноти.</li>
                            <li>Не поширюйте неперевірену інформацію.</li>
                            <li>Не переходьте на особистості.</li>
                            <li>Не поширюйте чутки про інших, адже це веде лише до загострення конфліктів.</li>
                            <li>У напружених ситуаціях уточнюйте, перепитуйте та прояснюйте, чи правильно ви зрозуміли думку іншої людини.</li>
                            <li>Завжди формулюйте свої повідомлення безоціночно.</li>
                            <li>Турбуйтеся про почуття та стан інших.</li>
                            <li>Будьте відповідальними за те, що кажете, пишете або пропонуєте.</li>
                            <li>Будьте чесними та уважними — лише тоді спілкування залишатиметься щирим та довірливим.</li>
                        </ol>

                        <h4>Щоб вас зрозуміли:</h4>
                        <div data-role="accordion" data-one-frame="false">
                            <div class="frame">
                                <div class="heading">Пояснюйте власну думку максимально зрозуміло та лаконічно.</div>
                                <div class="content">
                                    Перш ніж озвучити питання для розгляду або внести свою пропозицію у чаті, подумайте про те, що для вас є найважливішим у цій справі.
                                    Спробуйте поставити собі питання «Чому?» кілька разів, доки не зрозумієте: чому ви хочете саме цього та як це корелюється з іншими учасниками спільноти. Лише тоді формулюйте своє повідомлення чи запит.
                                </div>
                            </div>
                            <div class="frame">
                                <div class="heading">Щоб краще зрозуміти співрозмовника, уточнюйте та перефразовуйте.</div>
                                <div class="content">
                                    Уточнення та перефразування допомагають учасникам відчути, що ви дійсно прагнете почути та зрозуміти їх. Також це допомагає уникнути хибних висновків та спрямувати бесіду в конструктивний бік.
                                    Наприклад, зафіксувати певний висновок, домовленість або питання і триматися конкретної теми, поки рішення не буде прийнято.
                                    <p class="remark warning">Якщо виникла конфліктна ситуація, не переходьте на особистості. Говоріть про ситуацію, її вплив саме на вас та уникайте оціночних суджень!</p>
                                </div>
                            </div>
                            <div class="frame">
                                <div class="heading">Застосовуйте техніку "Я - повідомлення".</div>
                                <div class="content">
                                    <p>Почніть з опису ситуації. Формулюйте його безоціночно та не переходьте на особистості.</p>
                                    <p>Висловлюйте власні почуття та занепокоєння. Це вимагає хорошого розуміння себе, самосвідомості та відповідного словникового запасу, проте допомагає іншим краще розуміти вас.</p>
                                    <p>Говоріть про свої інтереси і потреби. Те, що роблять або кажуть інші, може бути стимулом (приводом) наших почуттів, проте не їх причиною.</p>
                                </div>
                            </div>
                            <div class="frame">
                                <div class="heading">Завершуйте формулюванням запиту.</div>
                                <div class="content">
                                    Прохання про конкретні дії, необхідні для поліпшення нашого добробуту, сприяють тому, що наш запит виконають.
                                    Наприклад: «Я би хотів, щоб наступного разу ми узгоджували дату за тиждень до події».
                                </div>
                            </div>
                        </div>

                        <div class="remark success">
                            <div class="text-leader2 text-light">
                                Пам’ятайте: розвиток мирної та безконфліктної комунікації — це тривалий процес, що потребує стійкості, концентрації, поваги та щирого прагнення до порозуміння.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cell-xl-4">
                    <div class="remark warning"><span class="mif-info icon"></span> Discord сервер працює в тестовому режимі!</div>
                    <h4>Чому саме Discord?</h4>
                    <div>
                        Перевага Discord у тому, що він організовує всі можливості для комунікації в одному місці - тематичні канали, обговорення, оголошення, голосування і ще безліч можливостей.
                    </div>

                    <div class="mt-4 mb-4">
                        <a class="button m-1" href="https://discord.com/download" style="background-color: #5965f1; color: #ffffff;">Завантажити додаток</a>
                        <a class="button m-1 outline bd-dark" href="https://discord.gg/ZHsw2JgA">Почати спілкування</a>
                    </div>

                    <div class="mt-4 mb-4">
                        <Rss/>
                    </div>

                </div>
            </div>
        </div>
    </div>
</Page>