---
import Page from "../layouts/Page.astro"
---
<Page title="Правила та норми поведінки в загальному чаті ОСББ 'Три сусіди 1'">
    <div class="container-fluid mb-10">
        <div class="container">
            <h2>Правила та норми спілкування</h2>
            <div>
                <p>Ці правила розроблено для комфортного спілкування в загальному чаті ОСББ "Три сусіди 1". Виконання цих правив обов'язкове для всіх учасників.</p>
                <div class="remark alert">
                    <span class="mif-report icon"></span>
                    <div>
                        Порушення правил веде до тимчасової або постійної заборони на написання дописів в чаті.
                    </div>
                </div>

                <h4>Основні правила:</h4>
                <ol class="decimal">
                    <li>Ніколи не давайте оцінку поведінці інших людей та не вішайте ярликів.</li>
                    <li>Не вживайте образливі фрази та узагальнення щодо всіх учасників спільноти.</li>
                    <li>Не поширюйте неперевірену інформацію.</li>
                    <li>Не переходьте на особистості.</li>
                    <li>Не поширюйте чутки про інших, адже це веде лише до загострення конфліктів.</li>
                    <li>У напружених ситуаціях уточнюйте, перепитуйте та прояснюйте, чи правильно ви зрозуміли думку іншої людини.</li>
                    <li>Завжди формулюйте свої повідомлення безоціночно.</li>
                    <li>Турбуйтеся про почуття та стан інших.</li>
                    <li>Будьте відповідальними за те, що кажете, пишете або пропонуєте.</li>
                    <li>Будьте чесними та уважними — лише тоді спілкування залишатиметься щирим та довірливим.</li>
                </ol>

                <h4>Щоб вас зрозуміли:</h4>
                <div data-role="accordion" data-one-frame="false">
                    <div class="frame">
                        <div class="heading">Пояснюйте власну думку максимально зрозуміло та лаконічно.</div>
                        <div class="content">
                            Перш ніж озвучити питання для розгляду або внести свою пропозицію у чаті, подумайте про те, що для вас є найважливішим у цій справі.
                            Спробуйте поставити собі питання «Чому?» кілька разів, доки не зрозумієте: чому ви хочете саме цього та як це корелюється з іншими учасниками спільноти. Лише тоді формулюйте своє повідомлення чи запит.
                        </div>
                    </div>
                    <div class="frame">
                        <div class="heading">Щоб краще зрозуміти співрозмовника, уточнюйте та перефразовуйте.</div>
                        <div class="content">
                            Уточнення та перефразування допомагають учасникам відчути, що ви дійсно прагнете почути та зрозуміти їх. Також це допомагає уникнути хибних висновків та спрямувати бесіду в конструктивний бік.
                            Наприклад, зафіксувати певний висновок, домовленість або питання і триматися конкретної теми, поки рішення не буде прийнято.
                            <p class="remark warning">Якщо виникла конфліктна ситуація, не переходьте на особистості. Говоріть про ситуацію, її вплив саме на вас та уникайте оціночних суджень!</p>
                        </div>
                    </div>
                    <div class="frame">
                        <div class="heading">Застосовуйте техніку "Я - повідомлення".</div>
                        <div class="content">
                            <p>Почніть з опису ситуації. Формулюйте його безоціночно та не переходьте на особистості.</p>
                            <p>Висловлюйте власні почуття та занепокоєння. Це вимагає хорошого розуміння себе, самосвідомості та відповідного словникового запасу, проте допомагає іншим краще розуміти вас.</p>
                            <p>Говоріть про свої інтереси і потреби. Те, що роблять або кажуть інші, може бути стимулом (приводом) наших почуттів, проте не їх причиною.</p>
                        </div>
                    </div>
                    <div class="frame">
                        <div class="heading">Завершуйте формулюванням запиту.</div>
                        <div class="content">
                            Прохання про конкретні дії, необхідні для поліпшення нашого добробуту, сприяють тому, що наш запит виконають.
                            Наприклад: «Я би хотів, щоб наступного разу ми узгоджували дату за тиждень до події».
                        </div>
                    </div>
                </div>

                <div class="remark success">
                    <div class="text-leader2 text-light">
                        Пам’ятайте: розвиток мирної та безконфліктної комунікації — це тривалий процес, що потребує стійкості, концентрації, поваги та щирого прагнення до порозуміння.
                    </div>
                </div>
            </div>
        </div>
    </div>
</Page>