---
import Page from "../layouts/DefaultPage.astro"
import {Image} from "astro:assets"
import CustomersImage from "../../assets/customers.svg"
---
<Page title="Контакти - ОСББ Три сусіди 1">
    <div class="container-fluid">
        <div class="container">
            <div class="hero p-0 h-auto">
                <div class="row">
                    <div class="cell-lg-7 p-10-md p-1-fs">
                        <h1 class="text-bold">Контакти</h1>

                        <div class="text-leader text-light mt-8">
                            Маєш запитання, проблеми або зауваження?
                            <p class="mt-4">Ми завжди до твоїх послуг!
                        </div>

                        <div class="mt-8">
                            <div>Ми на звʼязку:</div>
                            <div class="h3 text-bold">Пн-Пт з 09:00 до 18:00</div>
                            <div><span class="mif-phone mr-1"></span> +380 (xx) xxx-xxxx</div>
                        </div>
                    </div>
                    <div class="cell-lg-5">
                        <div>
                            <Image src={CustomersImage} alt="" height="400"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container border-top bd-default pt-10">
            <div class="row">
                <div class="cell-xl-6">
                    <div class="h4 text-bold">ОСББ &laquo;Три сусіди 1&raquo;</div>
                    <address>
                        <div class="text-bold">Адреса:</div>
                        <div>02055, м. Київ, вул. Г.Ахматової, б. 31</div>
                    </address>

                    <div class="no-overflow borde bd-default border-radius-20">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1511.9631343747415!2d30.62649630680745!3d50.40740156856292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1722070387513!5m2!1suk!2sua" height="300" style="width: 100%; border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                    <address class="mt-10">
                        <div class="h5 text-bold">Голова правління</div>
                        <div>Григорова Юлія Русланівна</div>
                        <div><span class="mif-phone"></span> +380 xx xxx-xxxx</div>
                    </address>

                    <address class="mt-10">
                        <div class="h5 text-bold">Головний бухгалтер</div>
                        <div>Чала Галина Борисівна</div>
                        <div><span class="mif-phone mr-1"></span> +380 xx xxx-xxxx</div>
                    </address>

                    <address class="mt-10">
                        <div class="h5 text-bold">Телефони консьєржів</div>

                        <div class="text-bold mt-2 mb-1">вул. Г. Ахматової, 33</div>
                        <div>1 парадне - <span class="mif-phone mr-1 ml-1"></span> +380 xx xxx-xxxx</div>
                        <div>2 парадне - <span class="mif-phone mr-1 ml-1"></span> +380 xx xxx-xxxx</div>
                        <div class="text-bold mt-2 mb-1">вул. Г. Ахматової, 31</div>
                        <div>1 парадне - <span class="mif-phone mr-1 ml-1"></span> +380 xx xxx-xxxx</div>
                        <div>2 парадне - <span class="mif-phone mr-1 ml-1"></span> +380 xx xxx-xxxx</div>
                        <div>3 парадне - <span class="mif-phone mr-1 ml-1"></span> +380 xx xxx-xxxx</div>
                        <div>4 парадне - <span class="mif-phone mr-1 ml-1"></span> +380 xx xxx-xxxx</div>
                        <div class="text-bold mt-2 mb-1">пр-т П. Григоренка, 24</div>
                        <div>1 парадне - <span class="mif-phone mr-1 ml-1"></span> +380 xx xxx-xxxx</div>
                        <div>2 парадне - <span class="mif-phone mr-1 ml-1"></span> +380 xx xxx-xxxx</div>
                    </address>
                </div>

                <div class="cell-xl-6 pl-10-xl">
                    <div class="h4 text-bold fg-red">Аварійний виклик</div>
                    <table class="table striped compact">
                        <thead>
                        <tr>
                            <th class="w-50"></th>
                            <th class="w-50"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Екстреної допомоги населенню (пожежники, поліція, швидка)</td>
                            <td class="text-right"><div class="h2">112</div></td>
                        </tr>
                        <tr>
                            <td>Центральна диспетчерська служба м.Києва</td>
                            <td class="text-right">
                                <div>1557</div>
                                <div class="no-wrap">(044) 486-17-93</div>
                            </td>
                        </tr>
                        <tr>
                            <td>ПАТ "АК "Київводоканал"</td>
                            <td class="text-right">
                                <div>1581</div>
                                <div class="no-wrap">(044) 200-73-01</div>
                                <div class="no-wrap">(044) 200-73-33</div>
                            </td>
                        </tr>
                        <tr>
                            <td>ПАТ "Київенерго"</td>
                            <td class="text-right">
                                <div>1588</div>
                                <div class="no-wrap">(044) 202-15-88</div>
                                <div class="no-wrap">0-800-50-1588</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Аварійна служба "Київліфт"</td>
                            <td class="text-right">
                                <div>1586</div>
                                <div class="no-wrap">(044) 400-60-44</div>
                                <div class="no-wrap">(044) 400-11-11</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Оперативно-рятувальна служба м.Києва</td>
                            <td class="text-right">
                                <div class="no-wrap">(044) 289-70-13</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <br/>
                    <div class="h4 text-bold">Сервісні служби ОСББ</div>

                    <address class="mt-10">
                        <div class="text-bold">Обслуговуюча компанія</div>
                        <div class="">Роги та копита</div>
                        <div><span class="mif-phone mr-1"></span> +380 xx xxx-xxxx</div>
                    </address>

                    <address class="mt-10">
                        <div class="text-bold reduce-2">Сантехнік</div>
                        <div class="">Вася Пупкін</div>
                        <div><span class="mif-phone mr-1"></span> +380 xx xxx-xxxx</div>
                    </address>

                    <address class="mt-10">
                        <div class="text-bold reduce-2">Електрик</div>
                        <div class="">Вася Пупкін</div>
                        <div><span class="mif-phone mr-1"></span> +380 xx xxx-xxxx</div>
                    </address>

                    <address class="mt-10">
                        <div class="text-bold reduce-2">Ліфтер</div>
                        <div class="">Роги та копита</div>
                        <div><span class="mif-phone mr-1"></span> +380 xx xxx-xxxx</div>
                    </address>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid mb-10"></div>
</Page>