---
import Page from "../layouts/DefaultPage.astro"
import Hero from "../components/Hero.astro"
---
<Page title="Три сусіди 1 - Об'єднання співвласників багатоквартирних будинків">
    <Hero/>

    <div class="container-fluidmb-10 highlight-block">
        <div class="container">
            <div class="text-light">
                ОСББ "Три сусіди 1" розташовано на розі вулиць пр-т Петра Григоренка та Ганни Ахматової в 10 хвилинах від метро "Позняки".
                ОСББ включає в собі три адреси пр-т П. Григоренка 24, Г. Ахматової 31 та Г. Ахматової 33 має затишний внутрішній двір з деревами та дитячим майданчиком.
                Конструктивно це один будинок. В будинку присутні поштове відділення Укрпошти (02055), Нової пошти (255), центр зору Візіум, стоматологічні клініки.
                Во дворі є підземний паркінг.
            </div>
        </div>
    </div>


    <div class="container-fluid mt-10 mb-10">
        <div class="container">
            <div class="text-center h2 text-bold">Загалом нас</div>
            <div class="row">
                <div class="cell-xl-3 cell-sm-6">
                    <div class="h-100 pt-10 pb-10 border bd-gray border-radius-20 text-center">
                        <div class="display3 text-bold fg-grayMouse" data-role="counter" data-autostart="true" data-value="500">0</div>
                        <div>Кількість квартир</div>
                    </div>
                </div>

                <div class="cell-xl-3 cell-sm-6">
                    <div class="h-100 pt-10 pb-10 border bd-gray border-radius-20 text-center">
                        <div class="display3 text-bold fg-grayMouse" data-role="counter" data-autostart="true" data-value="1000">0</div>
                        <div>Житлова площа (м2)</div>
                    </div>
                </div>

                <div class="cell-xl-3 cell-sm-6">
                    <div class="h-100 pt-10 pb-10 border bd-gray border-radius-20 text-center">
                        <div class="display3 text-bold fg-grayMouse" data-role="counter" data-autostart="true" data-value="10">0</div>
                        <div>Кількість нежитлових приміщень</div>
                    </div>
                </div>

                <div class="cell-xl-3 cell-sm-6">
                    <div class="h-100 pt-10 pb-10 border bd-gray border-radius-20 text-center">
                        <div class="display3 text-bold fg-grayMouse" data-role="counter" data-autostart="true" data-value="500">0</div>
                        <div>Не житлова площа (м2)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mb-10">
        <div class="container border-top bd-default pt-10">
            <div class="row">
                <div class="cell-xl-8 border-right bd-default pr-10">
                    <div class="h2 text-bold border-bottom bd-default pb-2">Останні новини</div>
                    <div class="news-block">
                        <div class="news-block__title">Загальні збори</div>
                        <div>Заплановано проведення загальних зборів для коригування діючої ставки членських внесків та інших нагайних питань.</div>
                    </div>
                    <div class="news-block">
                        <div class="news-block__title">Збір на генератори для води та тепла</div>
                        <div>Проводиться збір коштів на закупку та встановлення генераторів для забезпечення безперебійної роботи насосів тепло- та водо- постачання. Збір добровільний!</div>
                    </div>
                </div>

                <div class="cell-xl-4">
                    <div class="sidebar-group">
                        <div class="text-bold border-bottom bd-default pb-1">Діюча ставка членських внесків</div>
                        <div class="display3 text-center1">6.95 <small class="reduce-5">грн/м2</small></div>
                    </div>

                    <div class="sidebar-group">
                        <div class="text-bold border-bottom bd-default pb-1">Екстрені служби</div>
                        <div class="display1 text-center1"><span class="mif-phone mr-1 reduce-4"></span>112</div>
                    </div>

                    <div class="sidebar-group">
                        <div class="text-bold border-bottom bd-default pb-1">Відкриті вакансії</div>
                        <div>
                            <table class="table striped">
                                <tbody>
                                <tr>
                                    <td>Двірник</td>
                                    <td>10,000 грн</td>
                                </tr>
                                <tr>
                                    <td>Прибиральниця</td>
                                    <td>10,000 грн</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</Page>
