---
import DefaultPage from "../layouts/DefaultPage.astro"
import Hero from "../components/Hero.astro"
---
<DefaultPage title="Три сусіди 1 - Об'єднання співвласників багатоквартирних будинків">
    <Hero/>

    <main class="container-fluid mt-10 mb-10">
        <div class="container">
            <div class="row">
                <div class="cell-md-4">
                    <div class=" pt-10 pb-10 border bd-gray border-radius-10 text-center">
                        <div class="display4 text-bold fg-grayMouse" data-role="counter" data-autostart="true" data-value="100">100</div>
                        <div>Кількість квартир</div>
                    </div>
                </div>

                <div class="cell-md-4">
                    <div class=" pt-10 pb-10 border bd-gray border-radius-10 text-center">
                        <div class="display4 text-bold fg-grayMouse" data-role="counter" data-autostart="true" data-value="1000">1000</div>
                        <div>Житлова площа (м2)</div>
                    </div>
                </div>

                <div class="cell-md-4">
                    <div class=" pt-10 pb-10 border bd-gray border-radius-10 text-center">
                        <div class="display4 text-bold fg-grayMouse" data-role="counter" data-autostart="true" data-value="20">20</div>
                        <div>Кількість нежитлових приміщень</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</DefaultPage>
