---
import Page from "../layouts/Page.astro"
import Assembly from "../parts/generators.astro"
import GeneratorAccount from "../parts/generator-account.astro";
---
<Page title="Терміновий збір на альтернативні джерела живлення тепло-, водо-постачання">
    <div class="container-fluid mb-10 pt-6">
        <div class="container">
            <div class="row" style="--grid-gutter: 40px">
                <div class="cell-xl-7">
                    <div class="text-leader2 mb-10">
                        Терміновий збір на альтернативні джерела живлення тепло-, водо-постачання, забезпечення мінімального освітлення та роботи ліфтів в періоди відключення світла.
                    </div>

                    <h6>Г. Ахматової, буд. 33-1</h6>
                    <table class="table subcompact striped border cell-border pays-table" id="ah33_1">
                        <tbody></tbody>
                    </table>

                    <h6 class="mt-10">Г. Ахматової, буд. 33-2</h6>
                    <table class="table subcompact striped border cell-border pays-table" id="ah33_2">
                        <tbody></tbody>
                    </table>

                    <h6 class="mt-10">Г. Ахматової, буд. 31-1</h6>
                    <table class="table subcompact striped border cell-border pays-table" id="ah31_1">
                        <tbody></tbody>
                    </table>

                    <h6 class="mt-10">Г. Ахматової, буд. 31-2</h6>
                    <table class="table subcompact striped border cell-border pays-table" id="ah31_2">
                        <tbody></tbody>
                    </table>

                    <h6 class="mt-10">Г. Ахматової, буд. 31-3</h6>
                    <table class="table subcompact striped border cell-border pays-table" id="ah31_3">
                        <tbody></tbody>
                    </table>

                    <h6 class="mt-10">Г. Ахматової, буд. 31-4</h6>
                    <table class="table subcompact striped border cell-border pays-table" id="ah31_4">
                        <tbody></tbody>
                    </table>

                    <h6 class="mt-10">П. Григоренка, буд. 24-1</h6>
                    <table class="table subcompact striped border cell-border pays-table" id="gr24_1">
                        <tbody></tbody>
                    </table>

                    <h6 class="mt-10">П. Григоренка, буд. 24-2</h6>
                    <table class="table subcompact striped border cell-border pays-table" id="gr24_2">
                        <tbody></tbody>
                    </table>
                </div>
                <div class="cell-xl-5">
                    <div class="sidebar-group">
                        <Assembly />
                    </div>

                    <div class="sidebar-group">
                        <h4>Легенда</h4>
                        <table>
                            <tr>
                                <td class="bg-green"></td>
                                <td>Дуже велике дякую</td>
                            </tr>
                            <tr>
                                <td class="op-green"></td>
                                <td>Велике дякую</td>
                            </tr>
                        </table>
                    </div>

                    <div class="mt-10">
                        <h4>Опис</h4>
                        У зв’язку з поганою ситуацією щодо забезпечення наших будинків електроенергією (клята русня) було проведено зібрання мешканців нашого ОСББ на якому було прийняте рішення щодо купівлі генератора для забезпечення функціонування системи водо- та тепло-постачання в періоди відключення світла.
                        <p>Під час обговорення було вирахувана сума коштів для організації в нас водопостачання, опалення, гарячої води. Сума для закупівлі й монтажу становить 2.5млн гривень.
                        <p>Система буде гібридною. 1)Генератор +/-40 кВт 2)Інвертор на 15кВт + батарея(ї) в дану суму враховані АВР (Автоматичне ввімкнення резерву) монтажні роботи систем та мереж, налаштування та запуск.
                        <p>По перерахунку на квадратні метри, а саме так мешканці вирішили проводити збір коштів ( опираючись на квадратуру квартири) виходить 60грн / 1 м².
                        <p>Сплата буде проводитись як добровільний внесок, за допомогою платіжок на окремий рахунок.
                    </div>

                    <div class="mt-10">
                        <div class="h4 fg-red text-bold border-bottom bd-default pb-2 mb-6">Реквізити для добровільного внеску на альтернативні джерела живлення</div>
                        <GeneratorAccount/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Page>
<script>
    const addrLength = {
        ah31_1: [1, 64],
        ah31_2: [65, 68],
        ah31_3: [133, 68],
        ah31_4: [201, 64],

        ah33_1: [1, 60],
        ah33_2: [61, 60],

        gr24_1: [1, 60],
        gr24_2: [61, 60],
    }

    const payouts = {
        ah31_1: [[9, 13, 17, 21, 29, 38, 39, 42], [36, ]],
        ah31_2: [[68, 73, 75, 82, 99, 115, 122, 125, 127, 131], [73, 76, 85, 101, 112, 128]],
        ah31_3: [[133, 148, 158, 163, 169, 188, 191, 193, 195, 197, 198, 200], [137, 192, 194]],
        ah31_4: [[238, 241, 246, 247, 250, 253, 254, 255, 256], [214, 215, 236, 248]],

        ah33_1: [[14, 20, 29, 33, 37, 38, 41, 42, 46, 50, 51], [12]],
        ah33_2: [[65, 69, 83, 84, 105, 117, 118], [72, 84, 86, 112]],

        gr24_1: [[25, 27, 39, 42, 43, 56, 57, 60], [13, 49]],
        gr24_2: [[63, 71, 73, 77, 82, 83, 84, 86, 120], [117, 96]],
    }


    let addr = ""

    for(let l in addrLength){
        const table = $(`#${l} tbody`)
        const pays = payouts[l]
        let tr
        let index = 1
        for(let i = addrLength[l][0]; i < addrLength[l][0]+addrLength[l][1]; i++) {
            if (index === 1) {
                tr = $("<tr>").appendTo(table)
            }

            let td = $("<td>").text(i).appendTo(tr)

            if (pays[0].includes(i)) {
                td.addClass("bg-green fg-white")
            } else if (pays[1].includes(i)) {
                td.addClass("op-green fg-white")
            }

            index++

            if (index === 9) {
                index = 1
            }
        }
    }
</script>