---
const { ads } = Astro.props
const {title, price = 0, urgently = false} = ads.data
console.log(price > 0)
const {Content} = await ads.render()
---

<div class="ads-card">
    <div class:list={["ads-card__title", {"fg-red": urgently}]}>{title}</div>
    <div class:list={["ads-card__price", {"d-none": price === 0}]}>{price} грн</div>
    <div class="ads-card__description">
        <Content/>
    </div>
</div>