---
---
<footer class="page-footer container-fluid">
    <div class="container">
        <div class="row mt-10 mb-10">
            <div class="cell-lg-6">
                <h5>Приймальні дні громадян:</h5>
                <div class=" enlarge-2">
                    <div class="fg-yellow text-bold">Вівторок, Четвер</div>
                    <div>з 10:00 до 18:00</div>
                    <div>Перерва</div>
                    <div>з 13:00 до 14:00</div>

                    <div class="mt-4 reduce-2">Голова правління</div>
                    <div class="text-bold">Григорова Юлія Русланівна</div>
                    <div><span class="mif-phone"></span> +380 xx xxx-xxxx</div>

                    <div class="mt-4 reduce-2">Головний бухгалтер</div>
                    <div class="text-bold">Чала Галина Борисівна</div>
                    <div><span class="mif-phone mr-1"></span> +380 xx xxx-xxxx</div>
                    <br/>
                    <div><span class="mif-envelop mr-1"></span><a class="fg-white" href="mailto:admin@trysusidy.kiev.ua">admin@trysusidy.kiev.ua</a></div>
                </div>
            </div>
            <div class="cell-lg-2">
                <h5>Про ОСББ</h5>
                <ul class="unstyled-list">
                    <li><a class="fg-white" href="#">Головна</a></li>
                    <li class="mt-2"><a class="fg-white" href="#">Документи</a></li>
                    <li class="mt-2"><a class="fg-white" href="#">Правління</a></li>
                    <li class="mt-2"><a class="fg-white" href="#">Вакансії</a></li>
                </ul>
            </div>
            <div class="cell-lg-2">
                <h5>Корисне</h5>
                <ul class="unstyled-list">
                    <li><a class="fg-white" href="#">Загальні питання</a></li>
                    <li class="mt-2"><a class="fg-white" href="#">Фінансові питання</a></li>
                    <li class="mt-2"><a class="fg-white" href="#">Новини</a></li>
                    <li class="mt-2"><a class="fg-white" href="#">Результати загальних зборів</a></li>
                    <li class="mt-2"><a class="fg-white" href="#">Об'яви</a></li>
                    <li class="mt-2"><a class="fg-white" href="#">Звіти</a></li>
                </ul>
            </div>
            <div class="cell-lg-2">
                <h5>Послуги ОСББ</h5>
                <ul class="unstyled-list">
                    <li class="mt-2"><a class="fg-white" href="#">Видача довідок</a></li>
                    <li class="mt-2"><a class="fg-white" href="#">Задати запитання</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center mb-4 border-top bd-darkGray pt-4">
        <div>Copyright 2024 by <a class="fg-cyan" href="/">TrySusidy.kiev.ua</a></div>
        Розробка та супровід сайту <a class="fg-cyan" href="mailto:serhii@pimenov.com.ua">Сергій Піменов</a>
    </div>
</footer>
<script src="/metroui/metro-5.0.9.js" is:inline></script>
<style>
    footer {
        margin-top: auto;
        font-size: 13px;
        background-color: #2d2d32;
        color: #fff;
    }
</style>