---
---
<footer class="page-footer container-fluid">
    <div class="container">
        <div class="row mt-10 mb-10">
            <div class="cell-lg-6">
                <h5>Приймальні дні громадян:</h5>
                <div class="text-light enlarge-2">
                    <div class="fg-yellow text-bold">Середа</div>
                    <div>з 10:00 до 18:00</div>
                    <div>Перерва</div>
                    <div>з 13:00 до 14:00</div>

                    <div class="mt-4 reduce-2">Голова правління</div>
                    <div class="text-bold mt-1 mb-1">Григорова Юлія Русланівна</div>
                    <div><span class="mif-phone mr-1"></span><a class="fg-white" href="tel:+380688611229">(068) 861-1229</a></div>
                    <div><span class="mif-envelop mr-1"></span><a class="fg-white" href="mailto:head@trysusidy.kyiv.ua">head@trysusidy.kiev.ua</a></div>

                    <div class="mt-4 reduce-2">Головний бухгалтер</div>
                    <div class="text-bold mt-1 mb-1">Чала Галина Борисівна</div>
                    <div><span class="mif-phone mr-1"></span><a class="fg-white" href="tel:+380682443874">(068) 244-3874</a></div>
                    <div><span class="mif-envelop mr-1"></span><a class="fg-white" href="mailto:finance@trysusidy.kyiv.ua">finance@trysusidy.kiev.ua</a></div>
                    <br/>
                    <div class="mt-4 reduce-2">Адміністратор сайту</div>
                    <div><span class="mif-envelop mr-1"></span><a class="fg-white" href="mailto:admin@trysusidy.kyiv.ua">admin@trysusidy.kiev.ua</a></div>
                </div>
            </div>
            <div class="cell-lg-2">
                <h5>Про ОСББ</h5>
                <ul class="unstyled-list">
                    <li><a class="fg-white" href="#">Головна</a></li>
                    <li class="mt-2"><a class="fg-white" href="#">Документи</a></li>
                    <li class="mt-2"><a class="fg-white" href="#">Правління</a></li>
                    <li class="mt-2"><a class="fg-white" href="/vacancies">Вакансії</a></li>
                </ul>
            </div>
            <div class="cell-lg-2">
                <h5>Корисне</h5>
                <ul class="unstyled-list">
                    <li><a class="fg-white" href="#">Загальні питання</a></li>
                    <li class="mt-2"><a class="fg-white" href="#">Фінансові питання</a></li>
                    <li class="mt-2"><a class="fg-white" href="/news">Новини</a></li>
                    <li class="mt-2"><a class="fg-white" href="#">Результати загальних зборів</a></li>
                    <li class="mt-2"><a class="fg-white" href="#">Звіти</a></li>
                </ul>
            </div>
            <div class="cell-lg-2">
                <h5>Послуги ОСББ</h5>
                <ul class="unstyled-list">
                    <li class="mt-2"><a class="fg-white" href="#">Видача довідок</a></li>
                    <li class="mt-2"><a class="fg-white" href="#">Задати запитання</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center mb-4 border-top bd-darkGray pt-4">
        <div>Copyright 2024 by <a class="fg-cyan" href="/">TrySusidy.kyiv.ua</a></div>
        Розробка та супровід сайту <a class="fg-cyan" href="mailto:serhii@pimenov.com.ua">Сергій Піменов</a>
    </div>
</footer>
<script src="/metroui/metro-5.0.9.js" is:inline></script>
<style>
    footer {
        margin-top: auto;
        font-size: 13px;
        background-color: #2d2d32;
        color: #fff;
    }
</style>