---
import {Image} from "astro:assets"
---
<section class="container-fluid homeland">
    <div class="container">
        <div class="hero p-0">
            <div class="row">
                <div class="cell-lg-1"></div>
                <div class="cell-lg-4 d-flex align-items-center">
                    <div class="fg-white p-4 border bd-white mt-20 ml-4" style="
                        background-color: rgba(97, 125, 137, .8);
                        height: 312px;
                        width: 340px;
                        border-top-left-radius: 30px;
                        border-bottom-right-radius: 30px;
                        ">
                        <div class="text-leader">
                            Об'єднання співвласників багатоквартирних будинків "Три сусіди 1"
                        </div>
                        <div class="mt-4">
                            створено в 2020 році та включа в себе наступні адреси:
                        </div>
                        <ul class="mt-4">
                            <li>пр-т Петра Григоренка 24</li>
                            <li>вул. Ганни Ахматової 31</li>
                            <li>вул. Ганни Ахматової 33</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
