---
import {Image} from "astro:assets"
import HeroImage from "../../assets/homeland-2.jpg"
---
<section class="container-fluid homeland pb-10">
    <div class="container">
        <div class="hero p-0">
            <div class="row">
                <div class="cell-lg-7 p-10-md p-1-fs">
                    <div class="display2 fg-teal text-bold">Три сусіди 1</div>
                    <div class="text-leader2 mt-8 text-light">
                        Об'єднання співвласників багатоквартирних будинків.
                        ОСББ створено в 2019 році з метою управління багатоквартирними житловими будинками за адресами:
                        <p class="mt-4 text-medium enlarge-2">пр-т П. Григоренка 24, вул. Г. Ахматової 31 та вул. Г. Ахматової 33
                    </div>
                </div>
                <div class="cell-lg-5">
                    <div>
                        <Image src={HeroImage} alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
