---
import {Image} from "astro:assets"
import Logo from "../../assets/logo.png"
---
<section class="container-fluid homeland">
    <div class="container">
        <div class="hero p-0">
            <div class="row h-100">
                <div class="cell-md-4 op-darkGray border-right bd-white border-4">
                    <div class="p-10">
                        <div class="text-leader2">
                            Об'єднання співвласників багатоквартирних будинків
                        </div>
                        <div>
                            ОСББ
                        </div>
                        <ul>
                            <li>Григоренка 24</li>
                            <li>Ахматової 31</li>
                            <li>Ахматової 33</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
