---
import {Image} from "astro:assets"
import Logo from "../../assets/logo.png"
---
<section class="container-fluid homeland">
    <div class="container">
        <div class="hero">

        </div>
    </div>
</section>
