---
import {Image} from "astro:assets"
import Logo from "../../assets/logo.png"
---
<section class="container-fluid homeland">
    <div class="container">
        <div class="hero p-0">
            <div class="row h-100">
                <div class="cell-md-4 op-darkGray border-right bd-white border-4">
                    <div class="p-10">
                        <div class="text-leader">
                            Об'єднання співвласників багатоквартирних будинків "Три сусіди 1"
                        </div>
                        <div class="mt-4 reduce-2 text-bold">
                            ОСББ "Три сусіди 1" створено в 2020 році і включає в собі наступні адреси:
                        </div>
                        <ul class="unstyled-list">
                            <li>Пр-т Петра Григоренка 24</li>
                            <li>Г. Ахматової 31</li>
                            <li>Г. Ахматової 33</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
