---
import {Image} from "astro:assets"
import Logo from "../../assets/logo.png"
---
<div class="container-fluid" style="position: fixed; top: 0; left: 0; right: 0; z-index: var(--z-index-fixed);">
    <nav data-role="appbar" data-expand-point="xl" class="pt-4 pb-4 container pos-relative border-bottom bd-default">
        <a href="/" class="app-bar-item-static">
            <Image src={Logo} alt="Три сусіди 1" class="appbar-logo"/>
            <div class="appbar-logo-text">ОСББ <span class="text-bold fg-dark">&laquo;Три Сусіди 1&raquo;</span></div>
        </a>

        <button class="hamburger menu-down" onclick="this.parentNode.classList.toggle('active'); this.classList.toggle('active')">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>

        <ul class="app-bar-menu ml-auto">
            <li><a href="/">Головна</a></li>
            <li>
                <a href="#" class="dropdown-toggle">ОСББ</a>
                <ul class="d-menu" data-role="dropdown">
                    <li><a href="/info">Загальна інформація</a></li>
                    <li><a href="/management">Правління</a></li>
                    <li class="divider"></li>
                    <li><a href="/vacancies">Вакансії</a></li>
                    <li class="divider"></li>
                    <li><a href="/appeal">Звернення до голови</a></li>
                    <li class="divider"></li>
                    <li><a href="/chat">Спілкування в чаті</a></li>
                </ul>
            </li>
            <li><a href="/news">Новини</a></li>
            <li>
                <a href="#" class="dropdown-toggle toggle-white">Фінанси</a>
                <ul class="d-menu" data-role="dropdown">
                    <li><a href="#">Штатний розклад</a></li>
                    <li class="disabled"><a href="#">Кошторис</a></li>
                    <li class="divider"></li>
                    <li class="disabled"><a href="#">Звіти</a></li>
                    <li class="divider"></li>
                    <li><a href="/arrears">Боржники (комунальні послуги)</a></li>
                    <li class="divider"></li>
                    <li><a href="/zbir-na-generatory">Збір на генератори</a></li>
                    <li class="divider"></li>
                    <li class="disabled"><a href="/finance/faq">Питання та відповіді</a></li>
                </ul>
            </li>
            <li><a href="/ads">Об'яви</a></li>
            <li><a href="/blog">Блог</a></li>
            <li><a href="/contacts">Контакти</a></li>
        </ul>
    </nav>
</div>
