---
import {str} from "@olton/string"
import {datetime} from "@olton/datetime/dist/datetime.es.js"
const { news } = Astro.props
const {id, slug, body, data, render} = news
const {title, date, description, important = true} = data

const {Content} = await render()
---

<article class="news-block">
    <div class:list={["news-block__title", {"fg-red": important}]}>{title}</div>
    <div class="news-block__date">{datetime(date).format("DD, MMM YYYY")}</div>
    <div class="news-block__content">
        <Content/>
    </div>
</article>