---
import BlogRecentPostCard from "./BlogRecentPostCard.astro";
const {posts, label = 'Recent posts:'} = Astro.props
---
<div class="recent-posts-block pt-4 pb-4">
    <h5 class="mb-0">{label}</h5>
    <div class="row">
        {
            posts.map( (post) => <div class="cell-md-6 cell-xl-3"><BlogRecentPostCard {post} /></div>)
        }
    </div>
</div>