<div class="text-bold border-bottom bd-default">RSS Feeds</div>
<ul class="rss-feeds">
    <li><a href="/blog.xml">Наш Блог</a></li>
    <li><a href="/news.xml">Новини нашого ОСББ</a></li>
    <li><a href="/vacancies.xml">Вакансії</a></li>
    <li><a href="/ads.xml">Об'яви</a></li>
</ul>
<div class="remark text-small p-4 border-radius-10">
    Використовуйте наші канали RSS, щоб бути в курсі того, чим ми ділимося.
</div>
